@font-face {
  font-family: 'AdultSwimFont';
  src: url('/static/fonts/Adult-Swim-Font.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('/static/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'IBMPlexMono', mono; /* Default font for the body */
  background-color: #000;  /* Overall page background is black */
  color: #c0d674;  /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#ticker {
  background: #000;  /* Black background for the entire ticker area */
  color: #c0d674;  /* Text color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 20px;  /* Padding from the left side */
}

#btc {
  font-family: 'AdultSwimFont', sans-serif;  /* AdultSwimFont for BTC and its value */
  color: #c0d674;  /* Text color */
  font-size: 2rem;
  margin-bottom: 10px;
}

#subunits {
  background: #333;  /* Greyish background for the subunit area */
  padding: 10px;
  border-radius: 8px;
}

.unit {
  font-family: 'IBMPlexMono', mono;  /* IBMPlexMono for subunit values */
  font-size: 1.2rem;
  color: #c0d674;  /* Text color */
  margin: 5px 0;
}
