@font-face {
  font-family: 'AdultSwimFont';
  src: url('/static/fonts/Adult-Swim-Font.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('/static/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'AdultSwimFont', sans-serif;
  background-color: #000;
  color: #c0d674;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#ticker {
  background: #333;
  color: #c0d674;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 20px;
}

#btc {
  font-family: 'AdultSwimFont', sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
}

#subunits {
  font-family: 'IBMPlexMono', monospace;
  font-size: 1.2rem;
}

.unit {
  margin: 5px 0;
}

#btc, #subunits .unit {
  color: #c0d674;
}
