@font-face {
  font-family: 'AdultSwimFont';
  src: url('/static/fonts/Adult-Swim-Font.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('/static/fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-display: swap;
}

/* Widget only */
#ticker {
  background: #111;
  color: #c0d674;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: .6rem .9rem;
  margin: 0;
  text-align: center;
  max-width: 100%;
}

#btc {
  font-family: 'AdultSwimFont', 'IBM Plex Mono', monospace;
  color: #c0d674;
  font-size: 1.6rem;
  line-height: 1.1;
  margin: 0 0 .4rem 0;
  white-space: nowrap;
}

#subunits {
  background: #1a1a1a;
  border: 1px solid #2a2a2a;
  padding: .45rem .6rem;
  border-radius: 8px;
  width: 100%;
}

.unit {
  font-family: 'IBMPlexMono', ui-monospace, monospace;
  font-size: 1rem;
  line-height: 1.25;
  color: #c0d674;
  margin: .2rem 0;
  white-space: nowrap;
}

.credit{
  font-family: 'AdultSwimFont', 'IBM Plex Mono', monospace;
  color: #c0d674;
  font-size: .8rem;
  margin: .2rem 0 0;
  width: 100%;
  text-align: right;
}
