<header class="header">
    <div class="container">
        <img src="../static/images/ZZX Labs Logo 2.png" alt="ZZX-Labs Logo" clas="logo">
        <!-- Logo Section -->
        <div class="logo-container">
            <a href="../index.html">
                <img src="../static/images/ZZX Logo.png" alt="ZZX Logo" class="logo">
            </a>
        </div><br>
        <nav class="navbar">
            <button class="menu-button" id="navbar-toggle">☰</button>
            <ul class="nav-links" id="navbar-links">
                <li><a href="pages/home.html">Home</a></li>
                
                <li><a href="pages/about.html">About</a></li>
                <li><a href="pages/inspiration.html">Inspiration</a></li>
                
                <li><a href="pages/history.html">History</a></li>
                <li><a href="pages/mission.html">Mission</a></li>
                
                <li><a href="pages/partners.html">Partners</a></li>
                <li><a href="pages/staff.html">Staff</a></li>
                
                <li><a href="pages/services.html">Services</a></li>
                    <!-- <li><a href="pages/services/private-email-service.html">Private Email Service</a></li> -->
                    <!-- <li><a href="pages/services/private-data-storage-service.html">Private Data Storage Service</a></li> -->
                
                    <!-- <li><a href="pages/services/consulting.html">Consulting</a></li> -->
                    <!-- <li><a href="pages/services/contracting.html">Contracting</a></li> -->
                
                <li><a href="pages/areas-of-focus.html">Areas of Focus</a></li>
                    <!-- <li><a href="pages/expertise/bitcoin.html">Bitcoin</a></li> -->
                    <!-- <li><a href="pages/expertise/ai.html">AI</a></li> -->
                    <!-- <li><a href="pages/expertise/ml.html">ML</a></li> -->
                    <!-- <li><a href="pages/expertise/software-dev.html">Software Development</a></li> -->
                    <!-- <li><a href="pages/expertise/firmware-dev.html">Firmware Development</a></li> -->
                    <!-- <li><a href="pages/expertise/hardware-dev.html">Hardware Development</a></li> -->
                    <!-- <li><a href="pages/expertise/web-dev.html">Web Development</a></li> -->
                    <!-- <li><a href="pages/expertise/osint.html">OSINT</a></li> -->
                    <!-- <li><a href="pages/expertise/cysec.html">CySec</a></li> -->
                    <!-- <li><a href="pages/expertise/cywar.html">CyWarfare</a></li> -->
                
                <li><a href="pages/portfolio.html">Portfolio</a></li>
                
                <li><a href="pages/projects.html">Projects</a></li>
                
                <li><a href="pages/research.html">Research</a></li>
                
                <li><a href="pages/downloads.html">Downloads</a></li>
                    <!-- <li><a href="pages/downloads/papers.html">Papers</a></li> -->
                    <!-- <li><a href="pages/downloads/diagrams.html">Diagrams</a></li> -->
                    <!-- <li><a href="pages/downloads/charts.html">Charts</a></li> -->
                    <!-- <li><a href="pages/downloads/software.html">Software</a></li> -->
                    <!-- <li><a href="pages/downloads/tools.html">Tools</a></li> -->
                
                <li><a href="pages/blog.html">Blog</a></li>
                    <!-- <li><a href="pages/blog/rss/rss.html">RSS</a></li> -->
                
                <li><a href="pages/shop/payments.html">Payments</a></li>
                    <!-- <li><a href="pages/shop/shop.html">Shop</a></li> -->
                
                <li><a href="pages/opportunities.html">Opportunities</a></li>
                    <li><a href="pages/opportunities/careers.html">Careers</a></li>
                    <li><a href="pages/opportunities/partnerships.html">Partnerships</a></li>
                    <li><a href="pages/opportunities/investments.html">Investments</a></li>
                
                <li><a href="pages/legal.html">Legal</a></li>
                    <li><a href="pages/legal/legal-notice.html">Legal Notice</a></li>
                    <li><a href="pages/legal/legal-waiver.html">Legal Waiver</a></li>
                    <li><a href="pages/legal/legal-disclaimer.html">Legal Disclaimer</a></li>
                    <li><a href="pages/legal/terms-of-service.html">Terms of Service</a></li>
                    <li><a href="pages/legal/privacy-policy.html">Privacy Policy</a></li>
                
                <li><a href="pages/documentation.html">Documentation</a></li> 
                    <!-- <li><a href="pages/docs/readme.html">README.md</a></li> -->
                    <li><a href="pages/docs/license.html">License</a></li>
                
                <li><a href="pages/donate.html">Donate</a></li>
                <li><a href="pages/contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
