        <nav class="navbar">
            <button class="menu-button" id="navbar-toggle">☰</button>
            <ul class="nav-links" id="navbar-links">
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="inspiration.html">Inspiration</a></li>
                <li><a href="history.html">History</a></li>
                <li><a href="mission.html">Mission</a></li>
                <li><a href="partners.html">Partners</a></li>
                <li><a href="staff.html">Staff</a></li>
                <li>
                        <a href="services.html">Services</a>
                        <button class="submenu-toggle">▼</button>
                        <ul class="submenu">
                            <li><a href="services/private-email-service.html">Private Email Service</a></li>
                            <li><a href="services/private-data-storage-service.html">Private Data Storage Service</a></li>
                            <li><a href="services/consulting.html">Consulting</a></li>
                            <li><a href="services/contracting.html">Contracting</a></li>
                        </ul>
               </li>
               <li>
                        <a href="areas-of-focus.html">Areas of Focus</a>
                        <button class="submenu-toggle">▼</button>
                        <ul class="submenu">
                                <li><a href="expertise/bitcoin.html">Bitcoin</a></li>
                                <li><a href="expertise/ai.html">AI</a></li>
                                <li><a href="expertise/ml.html">ML</a></li>
                                <li><a href="expertise/software-dev.html">Software Development</a></li>
                                <li><a href="expertise/firmware-dev.html">Firmware Development</a></li>
                                <li><a href="expertise/hardware-dev.html">Hardware Development</a></li>
                                <li><a href="expertise/web-dev.html">Web Development</a></li>
                                <li><a href="expertise/osint.html">OSINT</a></li>
                                <li><a href="expertise/cysec.html">CySec</a></li>
                                <li><a href="expertise/cywar.html">CyWarfare</a></li>
                        </ul>
               </li>
               <li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <button class="submenu-toggle">▼</button>
                        <ul class="submenu">
                                <!-- -->
                        </ul>
               </li>
               <li>
                        <li><a href="projects.html">Projects</a></li>
                        <button class="submenu-toggle">▼</button>
                        <ul class="submenu">
                                <!-- -->
                        </ul>
               </li>
               <li>
                        <li><a href="research.html">Research</a></li>
                        <button class="submenu-toggle">▼</button>
                        <ul class="submenu">
                                <li><a href="research/papers.html">Papers</a></li>
                                <li><a href="research/publications.html">Publications</a></li>
                        </ul>
               </li>
               <li>
                        <li><a href="downloads.html">Downloads</a></li>
                        <button class="submenu-toggle">▼</button>
                        <ul class="submenu">
                                <li><a href="downloads/papers.html">Papers</a></li>
                                <li><a href="downloads/diagrams.html">Diagrams</a></li>
                                <li><a href="downloads/charts.html">Charts</a></li>
                                <li><a href="downloads/software.html">Software</a></li>
                                <li><a href="downloads/tools.html">Tools</a></li>
                        </ul>
               </li>
               <li>
                        <li><a href="blog.html">Blog</a></li>
                        <button class="submenu-toggle">▼</button>
                        <ul class="submenu">
                                <li><a href="blog/february_2025.html">RSS</a></li>
                                <li><a href="blog/january_2025.html">RSS</a></li>
                                <li><a href="blog/december_2024.html">RSS</a></li>
                                <li><a href="blog/rss/rss.html">RSS</a></li>
                        </ul>
               </li>
               <li>
                        <li><a href="payments.html">Payments</a></li>
                        <button class="submenu-toggle">▼</button>
                        <ul class="submenu">
                                <li><a href="shop/payments.html">Shop</a></li>
                                <li><a href="shop/shop.html">Shop</a></li>
                        </ul>
               </li>
               <li>
                        <li><a href="opportunities.html">Opportunities</a></li>
                        <button class="submenu-toggle">▼</button>
                        <ul class="submenu">
                                <li><a href="opportunities/careers.html">Careers</a></li>
                                <li><a href="opportunities/partnerships.html">Partnerships</a></li>
                                <li><a href="opportunities/investments.html">Investments</a></li>
                        </ul>
               </li>
               <li>
                        <li><a href="legal.html">Legal</a></li>
                        <button class="submenu-toggle">▼</button>
                        <ul class="submenu">
                                <li><a href="legal/legal-notice.html">Legal Notice</a></li>
                                <li><a href="legal/legal-waiver.html">Legal Waiver</a></li>
                                <li><a href="legal/legal-disclaimer.html">Legal Disclaimer</a></li>
                                <li><a href="legal/terms-of-service.html">Terms of Service</a></li>
                                <li><a href="legal/privacy-policy.html">Privacy Policy</a></li>
                        </ul>
               </li>
               <li>
                        <li><a href="documentation.html">Documentation</a></li>
                        <button class="submenu-toggle">▼</button>
                        <ul class="submenu">
                                <li><a href="docs/readme.html">README.md</a></li>
                                <li><a href="docs/license.html">License</a></li>
                        </ul>
                </li>
                <li><a href="donate.html">Donate</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
