[Unit]
Description=Run Bitnodes Snapshot Tasks

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min

Unit=zzx-bitnodes-snapshot.service

[Install]
WantedBy=timers.target
