__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

tools/bitnodes/config.json

bitcoin/bitnodes/src/

bitcoin/bitnodes/data/geoip/*.mmdb
bitcoin/bitnodes/data/geoip/*.mmdb.gz
