dnspython==2.6.1
redis==5.0.8
geoip2==4.8.0
maxminddb==2.6.2
PyQt5==5.15.11

requests==2.32.3
urllib3==2.2.3
certifi==2024.8.30
idna==3.10
charset-normalizer==3.4.0

python-dateutil==2.9.0.post0
pytz==2024.2
tzdata==2024.2

geohash2==1.1
python-geohash==0.8.5

pycountry==24.6.1
pycountry-convert==0.7.2
timezonefinder==6.5.5

numpy==2.1.2

tqdm==4.66.5
orjson==3.10.7
ujson==5.10.0

psutil==6.0.0

folium==0.17.0
branca==0.7.2

Pillow==10.4.0
