@font-face {
    font-family: "ZZX IBM Plex Mono";
    src: url("../../../static/fonts/IBMPlexMono-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "ZZX IBM Plex Mono";
    src: url("../../../static/fonts/IBMPlexMono-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "ZZX IBM Plex Mono";
    src: url("../../../static/fonts/IBMPlexMono-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
