:root.zzx-cyberchef-modified * {
    scrollbar-color: var(--scrollbar-thumb, #66704f) var(--scrollbar-track, #1b1b1b);
    scrollbar-width: thin;
}

:root.zzx-cyberchef-modified *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

:root.zzx-cyberchef-modified *::-webkit-scrollbar-track {
    background: var(--scrollbar-track, #1b1b1b);
}

:root.zzx-cyberchef-modified *::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb, #66704f);
    border: 2px solid var(--scrollbar-track, #1b1b1b);
}

:root.zzx-cyberchef-modified *::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover, #7d8a60);
}
