/* ========== HEADER ========== */

/* Header Base */
.header {
    background-color: #333;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    z-index: 1000;
}

/* Logo Container */
.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    max-height: 50px;
    width: auto;
    height: auto;
}
