/* __partials/widgets/btc-intel/widget.css */
/* Uses shared .btc-list styles; just add consistent widget scoping + sizing. */

[data-widget-root="btc-intel"]{
  width:100%;
  box-sizing:border-box;
}
