/* __partials/widgets/mempool-goggles/widget.css */
.btc-goggles canvas{
  width: 100%;
  height: auto;
  display: block;
  margin-top: .45rem;
  background: #000;
  border: 4px solid #e6a42b;
  border-radius: 10px;
  box-sizing: border-box;
}
